<div class="col-md-9 col-md-offset-1">
    <div class="contentRight mid-right">
       Client List
       <div class="tableDetails">
        <table class="table table-bordered DetailsTable" style="width: 100%">
            <thead>
                <tr>
                    <th style="width: 5%">No.</th>
                    <th style="width: 25%">Client Name</th>
                    <th style="width: 30%">Contract Date</th>
                    <th style="width: 20%">Status</th>
                    <th style="width: 20%">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clientList">
                    <td style="width: 5%">{{client.id}}</td>
                    <td style="width: 25%">{{client.firstName}}</td>
                    <td style="width: 30%">{{client.contractDate | date}}</td>
                    <td style="width: 20%">{{client.status}}</td>
                    <td style="width: 20%"><a  [routerLink]="['/client/editClient', client.id]">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>