<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="customTop">
        <div class="col-md-2">
            <div class="nav-left">
                <ul>
                    <li><a  routerLinkActive="active" [routerLink]="['setup']">Client Setup</a></li>
                    <li><a  routerLinkActive="active" [routerLink]="['addClient']" >Add New Client </a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
 
        <router-outlet></router-outlet>
 
        <div class="clearfix"></div>
    </div>
</section>
