<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="row customTop">
        <div class="col-md-2">
            <app-nav-left></app-nav-left>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <div class="contentRight mid-right">
                <h4 class="heading edit">Search User Name</h4>
                <div class="content">
                    <div class="row companyDetails">
                        <div class="col-md-4 formGroup">
                            <label>Search By Role</label>
                            <select class="form-control formInput">
                            <option value="all"></option>
                         </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 formGroup">
                            <label>Search By Email ID</label>
                            <input class="form-control formInput" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 formGroup">
                            <label>Search By Name</label>
                            <input class="form-control formInput" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="button-group pull-right">
                        <a class="button btn-blue buttonEdit" href="javascript:void()">Search</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tableDetails">
                    <table class="table table-bordered DetailsTable" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 5%">No.</th>
                                <th style="width: 25%">First Name</th>
                                <th style="width: 30%">Last Name</th>
                                <th style="width: 20%">Emp ID</th>
                                <th style="width: 20%">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 5%">1</td>
                                <td style="width: 25%">Williams</td>
                                <td style="width: 30%">james</td>
                                <td style="width: 20%">123456</td>
                                <td style="width: 20%">employe</td>
                            </tr>
                            <!--<tr>
                                <td style="width: 100%"></td>
                                <td style="width: 100%"></td>
                                <td style="width: 100%"></td>
                            </tr>-->
                            <!--<tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
                <h4 class="heading edit">Edit User Details</h4>
                <!--<div class="editDetails">
                    <div class="row companyDetails">
                        <div class="col-md-4 formGroup">
                            <label>Search By Role</label>
                            <select class="form-control formEdit">
                    <option value="all"></option>
                </select>
                        </div>
                        <div class="col-md-4 formGroup">
                            <label>Search By Email ID</label>
                            <input class="form-control formInput" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2 formGroup">
                            <div class="button-group">
                                <a class="button btn-white buttonEdit" href="javascript:void()">Search</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row companyDetails">
                    <form #editDetailsForm="ngForm"  (ngSubmit)=' editDetailsForm.valid &&  submitProcess(editDetailsForm); ' novalidate>
                    <div class="col-md-4">
                        <div class="formGroup">
                            <label>Status</label>
                            <input class="form-control" type="text" name="status" [(ngModel)]="editDetails.status" #status="ngModel" required>
                            <div *ngIf="status.errors && (status.dirty || status.touched || editDetailsForm.submitted)  " class="error" >
                                    <div [hidden]="!status.errors.required">
                                    Status is required!
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>Emp ID</label>
                            <input class="form-control" type="text"  name="employeeId" [(ngModel)]="editDetails.employeeId" #employeeId="ngModel" required>
                            <div *ngIf="employeeId.errors && (employeeId.dirty || employeeId.touched || editDetailsForm.submitted)  " class="error" >
                                    <div [hidden]="!employeeId.errors.required">
                                    Employee Id is required!
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>User ID</label>
                            <input class="form-control" type="text"  name="userId" [(ngModel)]="editDetails.userId" #userId="ngModel" required>
                            <div *ngIf="userId.errors && (userId.dirty || userId.touched || editDetailsForm.submitted)  "class="error"  >
                                    <div [hidden]="!userId.errors.required">
                                    User Id is required!
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>First Name</label>
                            <input class="form-control" type="text"  name="firstName" [(ngModel)]="editDetails.firstName" #firstName="ngModel" required>
                            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched || editDetailsForm.submitted)  "  class="error">
                                    <div [hidden]="!firstName.errors.required">
                                    First Name is required!
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="formGroup">
                            <label>Email ID</label>
                            <input class="form-control" type="email"  name="emailId" [(ngModel)]="editDetails.emailId" #emailId="ngModel" required>
                            <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched || editDetailsForm.submitted)  " class="error" >
                                    <div [hidden]="!emailId.errors.required">
                                    Email Id is required!
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>Office Location</label>
                            <select class="form-control"  name="officeLocation" [(ngModel)]="editDetails.officeLocation" #officeLocation="ngModel" required> 
                       <option selected value="">states</option>
                       <option *ngFor = "let state of states">{{state.name}}</option>
                   </select>
                   <div *ngIf="officeLocation.errors && (officeLocation.dirty || officeLocation.touched || editDetailsForm.submitted)  " class="error" >
                                    <div [hidden]="!officeLocation.errors.required">
                                    Office Location is required!
                                    </div>
                                </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>Last Name</label>
                            <input class="form-control" type="text" name="lastName" [(ngModel)]="editDetails.lastName" #lastName="ngModel" required>
                             <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched || editDetailsForm.submitted)  " class="error" >
                                    <div [hidden]="!lastName.errors.required">
                                    Last Name is required!
                                    </div>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup button-group pull-right">
                            <a class="button btn-gry buttonEdit" href="javascript:void()">permissions</a>
                            <button class="button btn-blue buttonEdit" type="submit">Save</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>