.error {
    /*position: absolute;
    right: 16px;
    top: 0;
    /*bottom: -20px;*/
    position: absolute;
    bottom: -7px;
    right: 22px;
    background: #fff;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    color: red;
    /*z-index: 999;*/
}